/*general rules*/
a {
    text-decoration: none;
}
ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
/*header*/
header {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
}
header .logo {
    text-decoration: none;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196F3;
}
header .logo span {
    margin: 0;
    display: inline-block;
    color: #212121;
    padding: 25px 0;
}
.header a {
    text-decoration: none;
}
main{
font-family: 'Roboto', sans-serif;
    color: #212121;
    background-color: white;
    letter-spacing: 0,03em;
    font-size: 14px;
}

/*links*/
.links {
    margin-left: 90px;
}
.links ul {
    width: 40%;
    list-style: none;
    margin-top: 0;
    padding-left: 0;
    display: flex;
    padding: 32px 0
}
.links ul li:last-child {
    margin-right: 0;
}
.links ul li {
    margin-right: 50px;
}
.links li a {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-decoration: none;
    color:black; ;
    /*--links-text-color: black;
    color: var(--links-text-color);*/
}
.links li a span{
margin: 0;
color: #2196F3;}
/*contacts*/
.contacts {
    font-family: 'Roboto';
    list-style: none;
    margin-top: 0;
    padding-left: 0;
    display: flex;
    margin-left: auto;
    padding: 32px;
}
.tel{color: #757575;}
.mail {
    margin-right: 50px;
color: #757575
}

/*Block 1*/
.logo-img {
    width: 100%;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196F3;
}
.banner {
    padding: 200px 0;
    background: #2F303A;
    text-align: center;
}
.banner h1 {
    max-width: 695px;
    margin: 0 auto;
    margin-bottom: 30px;
    font-family: '';
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.banner button {
    margin-top: 30px;
    color: #fff;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    letter-spacing: 0.06em;
    padding: 10px 32px;
    border: none;
    width: 200px;
    height: 50px;
}
/*our benefits*/
.disappering_title{
    display: none;
}
.benefits ul {
    font-family: 'Roboto';
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
}
.benefits ul li {
    margin-right: 30px;
}
.benefits ul li:last-child {
    margin-right: 0;
}
.benefits h3 {
    margin-top: 0;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}
.benefits p {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
    margin-bottom: 0;
}
/*works*/
.works {
    padding-bottom: 95px;
}
.works h2 {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;
}
.works ul {
    display: flex;
    max-width: 1170px;
    margin: 0 auto;
}
.works ul li {
    margin-right: 30px;
}
.works ul li:last-child {
    margin-right: 0;
}
.team {
background: #F5F4FA;
}
.m-bt-95 {
    padding: 95px 0;
}
.team h2 {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.team ul {
    display: flex;
    max-width: 1170px;
    margin: 0 auto;
}
.team img {
    width: 100%;
}
.team li:last-child {
    margin: 0;
}
.team li {
    margin-right: 30px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
}
.team h3 {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin: 30px 0 10px;
}
.team  p {
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}
/*footer*/
footer{
    background: #2F303A;
    margin: 0 auto;
    height: 252px;
}
.bottom_logo{
    display: flex;
    color: #2196F3;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    max-width:145px;
    padding-top: 60px;
    max-width: 1170px;
    margin: 0 auto;
}
.bottom_logo span{
    margin: 0;
    color: #FFFFFF;
}
address{
    margin-top: 20px;
}
footer address ul li a{
    color: rgba(255, 255, 255, 0.6);
}
footer address ul li span a {
    color: #FFFFFF;
}
footer ul{
    margin-top: 9px;
}
footer ul li {
    margin-top: 9px;
}
address{
    max-width: 1170px;
    margin: 0 auto;
    font-family: 'Roboto';
}

/*portfolio*/

/*top buttoms*/
.buttons{
    display: flex;
justify-content: center;
}
.buttons li{
    margin-right: 6px;
}
.buttons li:last-child {
margin: 0;
}
.buttons li button{
    padding: 6px 22px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    background: #F5F4FA;
    border-radius: 4px;
    border: 0;
    color: #212121;
}
/*.button-red /i am working with this tag in now*/
.button-red{ 
    background: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    color: #FFFFFF;
}
/*images description*/
.images p{
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #757575;
}
.images h2{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: #212121;
    margin:20px 24px 4px 24px;
}
.images p{
    margin:0px 24px 20px 24px;
}
/*images position*/
img{
    justify-content: space-between ;
    width: 100%;
    margin-top: 30px;
}
.images{
    max-width:1170px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding-top: 20px;
    justify-content: space-between;
    padding-bottom: 95px;
}
/*
hover test
.links ul li a:hover {
    background-color: #666;
    color: white;*/
a:hover,a:focus {
    color: #2196F3;
}
.btn:hover,.btn:focus{
    background: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    color: #FFFFFF;
    cursor: pointer;
}
.links ul li a:hover,.links ul li a:focus {
    color: #2196F3;}
    .contacts li a .tel:hover{
        color: #2196F3;
    }